body{
    margin: 0;
}
nav{
    background-color: maroon;
    height: 50px;
    
}
nav ul{
    display: flex;
    margin-left: 0%;
}
nav ul li{
    text-transform: uppercase;
    padding: 10px;
    padding-left: 30px;
    padding-top: 15px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: cornsilk;
}
.sidebar{
    background-color: black;
    color: cornsilk;
    width: 0%;
    padding: 10px;
    height: 100vh;
    z-index:1000;
    transition: all 0.3s ease-in-out;
}
.sidebar ul{
    list-style: none;
    visibility: hidden;
}
.sidebar ul li{
    text-transform: uppercase;
    margin-bottom: 30%;
}
button{
    width: 45%;
    height: 50px;
    background-color: maroon;
    color: white;
    border: 1px solid maroon;
}
.sidebar ul li a{
    text-decoration: none;
    color: cornsilk;
}
.content{
    display: flex;
    margin: 0;
}
.calc{
    padding: 20px;
    display: flex;
    margin: 0;
}
.calc input{
    padding: 20px;
}
.card{
    background-color: purple;
    color: cornsilk;
    padding: 20px;
    margin: 20%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.tab1{
    visibility: hidden;
}
.tab2{
    visibility: hidden;
}
.tab3{
    visibility: hidden;
}
.tab4{
    visibility: hidden;
}